<header>
  <nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item">
        <a href="/">
          <i class="fas fa-home"></i>
          Home
        </a>
      </li>
      <li class="navbar-item">
        <a href="/explore">
          <i class="fas fa-search"></i>
          Explore
        </a>
      </li>
      <% if (user) { %>
      <li class="navbar-item">
        <a href="/messages">
          <i class="fas fa-envelope"></i>
          Messages
        </a>
      </li>
      <li class="navbar-item">
        <a href="/profile">
          <i class="fas fa-user"></i>
          Profile
        </a>
      </li>
      <li class="navbar-item">
        <a href="/logout">
          <i class="fas fa-sign-out-alt"></i>
          Log Out
        </a>
      </li>
      <% } else { %>
      <li class="navbar-item">
        <a href="/register">
          <i class="fas fa-user-plus"></i>
          Register
        </a>
      </li>
      <li class="navbar-item">
        <a href="/auth/google" class="login">
          <i class="fas fa-sign-in-alt"></i>
          Log In
        </a>
      </li>
      <% } %>
    </ul>
  </li>
  </nav>
</header>
