<header>
    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item"><a href="/">Home</a></li>
            <li class="navbar-item"><a href="/explore">Explore</a></li>
            <li class="navbar-item"><a href="/register">Register</a></li>
            <li class="navbar-item"><a href="/messages">Messages</a></li>
            <li class="navbar-item"><a href="/profile">Profile</a></li>
        </ul>
    </nav>
</header>
